.ksdButtonToolbar {
  width : 100%;    
  justify-content: stretch;
}
.btn {
  min-width: 50%;
}
 
.btn.btn-outline-dark {
  color: #636e72;  
  border-color:#ecf0f1;
}
.btn-outline-dark:hover, .btn-outline-dark:focus, .btn-outline-dark:active, 
.btn-outline-dark.active, .open>.dropdown-toggle.btn-outline-dark {
  color: #636e72;
  border-color:#ecf0f1;
  background-color: white;
  outline: none;
  box-shadow: none;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  .btn {
    min-width: 25%;    
  } 
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .btn {
    min-width: 25%;     
  } 
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  
  .btn {
    min-width: 12%;    
  } 
}
